<h2>Internet Connection Map</h2>
<div>
  <label for="ownCity">Show last # Connections:</label>
  <input
    type="text"
    class="form-control"
    name="conLimit"
    id="conLimit"
    [(ngModel)]="conLimit"
    style="width: 3em"
  />
  &nbsp;&nbsp;
  <button (click)="reload()">Reload</button>
  <!-- <button (click)="reset()">Reset</button> -->
  Own Location:
  <label for="lat">Lat:</label>
  <input
    type="text"
    class="form-control"
    name="lat"
    id="lat"
    [(ngModel)]="ownLat"
    style="width: 10em"
  />
  <label for="lon">Lon:</label>
  <input
    type="text"
    class="form-control"
    name="lon"
    id="lon"
    [(ngModel)]="ownLon"
    style="width: 10em"
  />
  <label for="ownCity">Search:</label>
  <input
    type="text"
    class="form-control"
    name="ownCity"
    id="ownCity"
    [(ngModel)]="ownCity"
  />
  <button (click)="locSearch()">Go</button>
</div>

<!--
<div *ngFor="let entry of ipNames | keyvalue">
  {{ entry.key }} : {{ entry.value }}
</div> -->

<!-- {{ sqlresult[0] }}  *ngIf="ipNames[flow.IP_DST_ADDR_str]"-->

<div class="fs-container">
  <app-map [x]="15.46" [y]="47.07" [z]="3" [layers]="layers"></app-map>
</div>
<div class="stats">
  {{ this.nrCons }} Connections displayed. | DNS resolution:
  {{ openHostNameQueries > 0 ? 'Loading Names, ' : 'Loaded All Names.' }}
  {{ openHostNameQueries > 0 ? openHostNameQueries : '' }}
  {{ openHostNameQueries > 0 ? 'left.' : '' }}
</div>
