.ntop {
  height: 16px;
  width: 16px;
}
h2 {
  margin-left: 1rem;
}
.flowcont {
  position: absolute;
  top: 6.5rem;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 51%;
  overflow-y: scroll;
}
.fs-container {
  position: absolute;
  top: 7em;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 1.5rem;
}
.stats {

  position: absolute;
  height: 1rem;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 0.2rem;
}
td.r {
  text-align: right;
}
.icon {
  text-align: center;
}
.icon img {
  width: 16px;
}
