<div id="dashboard" #dashboard>

  <h2>IoT-Watchdog-Apps</h2>

  <div class="panel">
    <app-ut-dashboard-tile title="ntop-ng" path="/Apps/ntopng"></app-ut-dashboard-tile>
    <!-- <app-ut-dashboard-tile title="Indoor Air Quality" path="/Apps/IAQ"></app-ut-dashboard-tile> -->
  </div>
  <hr>
  <h2>System</h2>
  <div class="panel">
    <app-ut-dashboard-tile title="System stats" path="/Apps/System"></app-ut-dashboard-tile>
    <app-ut-dashboard-tile title="Dygraph Playground" path="/Apps/Dygraph-Playground"></app-ut-dashboard-tile>
    <app-ut-dashboard-tile title="All Temperatures" path="/Apps/Temperatures"></app-ut-dashboard-tile>
    <app-ut-dashboard-tile title="Power usage" path="/Apps/Power"></app-ut-dashboard-tile>
  </div>
  <hr>
  <h2>Tools</h2>
  <div class="panel">
    <app-ut-dashboard-tile title="Influx Test" path="/Apps/Influx-Test"></app-ut-dashboard-tile>
    <app-ut-dashboard-tile title="MQTT Test" path="/Apps/MQTT-Test"></app-ut-dashboard-tile>
  <!-- <app-ut-dashboard-tile title="Weihnachtsvorlesung" path="/Apps/Weihnachtsvorlesung"></app-ut-dashboard-tile> -->
  </div>
</div>