<h2>Local Host Connections</h2>
<div>
  <button (click)="reload()">Reload</button>
  <!-- <button (click)="reset()">Reset</button> -->
  Status: {{ openHostNameQueries > 0 ? 'Loading...' : 'Loaded.' }}
  {{ openHostNameQueries }}
</div>

<div class="flowcont">
  <h3>Local Connections</h3>
  <table class="flows" *ngIf="localCons && localCons.length">
    <tr>
      <!-- <th>idx</th> -->
      <th>Source IP</th>
      <th>Dest. IP</th>
      <th>remote hostname</th>
      <th>L4 Prot</th>
      <th>Src. Port</th>
      <th>Dest. Port</th>
      <th>L7 Protocol</th>
      <!-- <th>Begin</th> -->
      <th>Last Transfer</th>
      <th>Duration (s)</th>
      <th>In</th>
      <th>Out</th>
    </tr>
    <tr *ngFor="let flow of localCons">
      <!-- <td>{{ flow.idx }}</td> -->
      <td class="r">{{ flow.IP_SRC_ADDR_str }}</td>
      <td class="r">
        {{ flow.IP_DST_ADDR_str }}
        <a
          href="{{
            globalSettings.server.baseurl
          }}:3000/lua/host_details.lua?host={{ flow.IP_DST_ADDR_str }}"
          target="_blank"
          title="Open Host in ntopng"
          ><img class="ntop" src="/assets/ntop_link.png"
        /></a>
      </td>
      <td>
        <span
          >{{
            ipNames[flow.IP_DST_ADDR_str]
              ? ipNames[flow.IP_DST_ADDR_str]
              : ipNames[flow.IP_SRC_ADDR_str]
              ? ipNames[flow.IP_SRC_ADDR_str]
              : '...'
          }}
        </span>
      </td>
      <td>{{ flow.prototext }}</td>
      <td class="r">{{ flow.L4_SRC_PORT }}</td>
      <td class="r">{{ flow.L4_DST_PORT }}</td>
      <td>{{ flow.L7prototext }}</td>
      <!-- <td>{{ flow.fromdate | date: 'dd.MM.yy HH:mm:ss' }}</td> -->
      <td>{{ flow.enddate | date: 'dd.MM.yy HH:mm:ss' }}</td>
      <td class="r">{{ flow.duration }}</td>
      <td class="r">{{ flow.inb_s }}B</td>
      <td class="r">{{ flow.outb_s }}B</td>
    </tr>
  </table>
</div>
<!--
<div *ngFor="let entry of ipNames | keyvalue">
  {{ entry.key }} : {{ entry.value }}
</div> -->

<!-- {{ sqlresult[0] }}  *ngIf="ipNames[flow.IP_DST_ADDR_str]"-->


