.ntop {
  height: 16px;
  width: 16px;
}
h2 {
  margin-left: 1rem;
}
.flowcont {
  position: absolute;
  top: 6.5rem;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  overflow-y: scroll;
}
table, td, th {
  border: 0;
}
td, th {
  padding: 0.1rem 0.3rem;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
tr:hover {
  background-color: gray;
}
.fs-container {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
}
td.r {
  text-align: right;
}
.icon {
  text-align: center;
}
.icon img {
  width: 16px;
}
